
table,
th,
td {
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
    border-spacing: 20px 0;
    border: 1px white solid;
    border-collapse: collapse;
    width: 60%;

}

th,
td {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 40px;

}

th{
    font-size: 25px;
}
td{
    font-size: 20px;
}

body {
    background-image: url("/static/car.jpg");
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
    margin: 0;
    padding: 0
}
h1 {
    color: white;
    text-align: center;
}

