<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image to PDF Converter</title>
</head>

<body>
    <h1>Image to PDF Converter</h1>
    <form action="/generate_pdf" method="post" enctype="multipart/form-data">
        <input type="file" name="images[]" multiple accept="image/*">
        <input type="submit" value="Generate PDF">
    </form>
    <br>
    <br>
    <br>

    <p>
        -Raj Aryan
    </p>
</body>

</html>