
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Number Plate Scanner</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mystyle.css') }}">


</head>

<body>

    <h1> Vehicle Number PLate Detection System</h1>
    <br><br>
    <p style="color: white;">Utilizing Machine Learning (ML) algorithms and OpenCV, our Vehicle Number Plate Detection
        system extracts license plate information from real-time footage with precision. Integrated with MongoDB for
        efficient data storage, this solution offers seamless scalability and data management. Powered by Flask and
        pytesseract, our system provides a user-friendly interface for accessing and analyzing vehicle data, ensuring
        efficient monitoring and management of traffic and security systems.
    </p>

    <!-- used for making the space between the description and the navigation -->
    <p class="para1"></p>

    <section>
        <nav>
            <ul>
                <li><a href="#" id="openScannerLink">Open Scanner</a></li>
                <li><a href="#" id="addVehicleDetailsLink">Add Vehicle Details</a></li>
                <li><a href="/" id="yesterdaysDataLink">Yesterday's Data</a></li>
                <li><a href="/records" id="allRecordsLink">All Records</a></li>
            </ul>
        </nav>

        <article>
            <div id="scannerSection" style="display: none;">
                <h2 class="scan">Scan</h2>
                <div class="video">
                    <img src="{{ url_for('video_feed') }}" alt="License Plate Scanner">
                </div>

                <br><br>
                <div>
                    <a href="/recognized_plates" target="_blank">Click here to view recognized
                        plates</a>

                </div>
            </div>


            <div id="addVehicleSection" style="display: none;">

                <h2 class="vehicle">Add New Vehicle Information</h2>
                <!-- Login form -->

                <form id="addVehicleForm" method="POST" action="{{ url_for('add_vehicle') }}">
                    <label for="plate_number">Plate Number:</label>
                    <input type="text" id="plate_number" name="plate_number" required><br><br>

                    <label for="owner_name">Owner Name:</label>
                    <input type="text" id="owner_name" name="owner_name" required><br><br>

                    <label for="make">Make:</label>
                    <input type="text" id="make" name="make" required><br><br>

                    <label for="model">Model:</label>
                    <input type="text" id="model" name="model" required><br><br>

                    <label for="color">Color:</label>
                    <input type="text" id="color" name="color" required><br><br>

                    <input type="submit" value="Submit">
                    <input type="reset" value="Reset">
                </form>


                <div id="successMessage" style="display: none; color: green;"></div>
            </div>

            <div class="his" id="yesterdaysDataSection" style="display: none;">
                <h2 class="yesterday">History of previous 24 hours</h2>

                <table border="1">
                    <thead>
                        <tr>
                            <th>Plate Number</th>
                            <th>Owner Name</th>
                            <th>Make</th>
                            <th>Model</th>
                            <th>Color</th>
                            <th>Time Stamp</th>

                        </tr>
                    </thead>

                    <tbody>
                        {% for record in data %}
                        <tr>
                            <td>{{ record.plate_number }}</td>
                            <td>{{ record.owner_name }}</td>
                            <td>{{ record.make }}</td>
                            <td>{{ record.model }}</td>
                            <td>{{ record.color }}</td>
                            <td>{{ record.timestamp }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>

        </article>
    </section>

    <script>



        document.querySelector('nav ul li:nth-child(1) a').addEventListener('click', function () {
            document.getElementById('scannerSection').style.display = 'block';
            document.getElementById('addVehicleSection').style.display = 'none';
            document.getElementById('yesterdaysDataSection').style.display = 'none';
            document.getElementById('allRecordsSection').style.display = 'none';
        });

        document.querySelector('nav ul li:nth-child(2) a').addEventListener('click', function () {
            document.getElementById('scannerSection').style.display = 'none';
            document.getElementById('addVehicleSection').style.display = 'block';
            document.getElementById('yesterdaysDataSection').style.display = 'none';
            document.getElementById('allRecordsSection').style.display = 'none';
        });

        document.querySelector('nav ul li:nth-child(3) a').addEventListener('click', function (event) {
            event.preventDefault(); // Prevent the default action of the link
            document.getElementById('scannerSection').style.display = 'none';
            document.getElementById('addVehicleSection').style.display = 'none';
            var historySection = document.getElementById('yesterdaysDataSection');
            historySection.style.display = (historySection.style.display === 'none') ? 'block' : 'none';
            document.getElementById('allRecordsSection').style.display = 'none';
        });


        document.querySelector('nav ul li:nth-child(4) a').addEventListener('click', function () {
            document.getElementById('scannerSection').style.display = 'none';
            document.getElementById('addVehicleSection').style.display = 'none';
            document.getElementById('yesterdaysDataSection').style.display = 'none';
            var recordSection = document.getElementById('allRecordsSection');
            recordSection.style.display = (recordSection.style.display === 'none') ? 'block' : 'none';
            // fetchRecords();
        });
        
    </script>


</body>

</html>