* {
    font-family: -apple-system, BlinkMacSystemFont, "San Francisco", Helvetica,
      Arial, sans-serif;
    font-weight: 300;
    margin: 0;
  }
  html,
  body {
    height: 100vh;
    width: 100vw;
    margin: 0 0;
    display: flex;
    align-items: center;
     justify-content: center;
    background: #f3f2f2;
  }
  h4 {
    font-size: 44px;
    font-weight: 600;
    color: #000;
  }
  label {
    font-size: 14.5px;
    color: #000;
    opacity: 0.8;
    font-weight: 400;
  }
  form {
    padding: 40px 30px;
    margin-top: 90px;
    background: #fefefe;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    width: 100%;
  }
  form h4 {
    margin-bottom: 25px;
    background: linear-gradient(120deg, #1C99FE 20.69%, #7644FF 40.19%, #8E37D7 79.69%);
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
  }
  form h4 span {
    color: rgba(0, 0, 0, 1);
    font-weight: 700;
  }
  form p {
    line-height: 155%;
    margin-bottom: 5px;
    font-size: 14px;
    color: #000;
    opacity: 0.65;
    font-weight: 400;
    max-width: 200px;
    margin-bottom: 40px;
  }
  a.discrete {
    color: rgba(0, 0, 0, 0.4);
    font-size: 14px;
    border-bottom: solid 1px rgba(0, 0, 0, 0);
    padding-bottom: 4px;
    margin-left: auto;
    font-weight: 300;
    transition: all 0.3s ease;
    margin-top: 40px;
  }
  a.discrete:hover {
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);
  }
  input {
    color: rgba(0, 0, 0, 0.6);
    font-size: 19px;
    padding: 20px 0px;
    height: 56px;
    border: none;
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
    background: #fff;
    width: 280px;
    box-sizing: border-box;
    transition: all 0.3s linear;
    color: #000;
    font-weight: 400;
  }
  input:focus {
    border-bottom: solid 1px #b69de6;
    outline: 0;
    color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 2px 6px -8px rgba(182, 157, 230, 0.45);
  }
  .floating-label {
    position: relative;
    margin-bottom: 10px;
    width: 100%;
  }
  .floating-label label {
    position: absolute;
    top: calc(50% - 9px);
    left: 0;
    opacity: 0;
    transition: all 0.3s ease;
    padding-left: 44px;
  }
  .floating-label input {
    width: calc(100% - 44px);
    margin-left: auto;
    display: flex;
  }
  .floating-label .icon {
    position: absolute;
    top: 0;
    left: 0;
    height: 56px;
    width: 44px;
    display: flex;
  }
  .floating-label .icon svg {
    height: 30px;
    width: 30px;
    margin: auto;
    opacity: 0.15;
    transition: all 0.3s ease;
  }
  .floating-label .icon svg path {
    transition: all 0.3s ease;
  }
  .floating-label input:not(:placeholder-shown) {
    padding: 28px 0px 12px 0px;
  }
  .floating-label input:not(:placeholder-shown) + label {
    transform: translateY(-10px);
    opacity: 0.7;
  }
  .floating-label input:valid:not(:placeholder-shown) + label + .icon svg {
    opacity: 1;
  }
  .floating-label input:valid:not(:placeholder-shown) + label + .icon svg path {
    fill: #b69de6;
  }
  .floating-label input:not(:valid):not(:focus) + label + .icon {
    animation-name: shake-shake;
    animation-duration: 0.3s;
  }
  @keyframes shake-shake {
    0% {
      transform: translateX(-3px);
    }
    20% {
      transform: translateX(3px);
    }
    40% {
      transform: translateX(-3px);
    }
    60% {
      transform: translateX(3px);
    }
    80% {
      transform: translateX(-3px);
    }
    100% {
      transform: translateX(0px);
    }
  }
  .session {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 90%;
    margin: auto auto;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.12);
  }
  .left {
    width: 920px;
    height: auto;
    min-height: 100%;
    position: relative;
    background-image: url("https://images.pexels.com/photos/114979/pexels-photo-114979.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  .left svg {
    height: 40px;
    width: auto;
    margin: 20px;
  }
  .btn-hover {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    transform: translateY(-10px);
    border-radius: 50px;
    transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.btn-hover.color-3 {
    background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
    box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}
.btn-hover:focus {
    outline: none;
}
.btn-hover:hover {
    background-position: 100% 0;
    transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
a{
    color: #0099ff;
    text-decoration: none;
}
.sign_in{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    transform: translateY(15px);
    font-size: 1.15vw;
    color: rgba(0, 0, 0, 0.7);
}
.sign_in a:hover{
    color: #ea4335;
}